
h1.title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

div.wrapper {
    display: grid;
    place-items: center;
}

div.word {
    margin: 10px;
}

html {background-color: rgb(255, 255, 255);}

input.char {
    height: 50px;
    width: 50px;
    text-align: center;
    margin-inline: 2px;
    border-style:solid;
    border-color: rgb(56, 56, 56);
    border-width: 2px;
    border-radius: 10px;
    box-shadow:1px 2px rgb(156, 156, 156);
    text-transform: capitalize;
    font-family:fantasy;
    font-weight:bold;
    font-size: 25px;
    color:rgb(49, 41, 41);
}
div.disabled{
    input.char {
        background-color: rgb(175, 175, 175)
    }
}
input.green {
    background-color: lightgreen;

}
input.orange {
    background-color: orange;

}
input.grey {
    background-color: darkgrey;

}

div.completed {
    pointer-events: none;
}

div.disabled { 
    pointer-events: none;
}


/* End screen Css */

div.end { 
    display: grid;
    place-items: center;
}

div.separator {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

div.separator-content { 
    margin-inline: 20px;
}
img.share-icon { 
    width: 30px;
    height: 30px;
}
img.social-icon { 
    width: 50px;
    height: 50px;
    margin-inline-start: 10px;
}